.counter-card {
    color: var(--light);
    padding: 5px 15px;
    background-color: var(--dark-sm);
    border-radius: var(--border-radius);
}
.counter-container {
    display: flex;
    gap: 1rem;
}
